.demo-grid {
  --body-text: #585858;
  --body-text-alt: #cf1d56;
  --body-bg: #010101;
  --link-text: #c7c5c5;
  --link-text-hover: #fff;
  --content-font: "Cormorant Garamond", sans-serif;
}
#section1 {
  height: 100vh;
}
#section2 {
  height: 100vh;
}
#section3 {
  height: 100vh;
}
.content {
  --pieces-height: 90vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.disabled {
  pointer-events: none;
}
.page-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-family: var(--content-font);
}

.page-nav__item {
  font-size: 6vh;
}

.page-nav__item--close {
  font-size: 1.85em;
  margin: 1em 0 0 0;
  color: var(--body-text-alt);
  position: relative;
}

.page-nav__item--close:hover,
.page-nav__item--close:focus {
  color: var(--body-text-alt);
  text-decoration: line-through;
}

.content__title {
  font-size: 10vw;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
  font-family: var(--content-font);
  color: var(--body-text-alt);
  position: relative;
}

.page-nav--open ~ .content__title {
  pointer-events: none;
}

.content .pieces {
  height: var(--pieces-height);
  width: calc(var(--pieces-height) * calc(888 / 1000));
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: calc(-1 * var(--pieces-height) * calc(888 / 1000) / 2);
  margin-top: calc(-1 * var(--pieces-height) / 2);
  pointer-events: none;
}

@media screen and (max-width: 40em) {
  .content {
    --pieces-height: 50vh;
    height: var(--pieces-height);
    margin-bottom: 8em;
  }
  .content__title {
    font-size: 22vw;
  }
  .page-nav__item {
    font-size: 4vh;
    color: rgb(255, 255, 255) !important;
    z-index: 999999 !important;
  }
}
/* Styles*/
/*
.gallery-nav {
  grid-area: 6 / 1 / 7 / 7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0 0;
}

.gallery-nav__item {
  width: 40px;
  height: 20px;
  display: block;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.gallery-nav__item::before,
.gallery-nav__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  margin: -3px;
  top: 50%;
  left: 0;
  opacity: 0.5;
  background: var(--link-text);
  pointer-events: none;
}
.gallery__item {
  opacity: 0;
}

.gallery__item--current {
  opacity: 1;
  z-index: 100;
}
.gallery-nav__item::after {
  opacity: 0;
  transform: rotate(-60deg);
  background: var(--body-text-alt);
}

.gallery-nav__item--current::before,
.gallery-nav__item--current::after {
  opacity: 1;
}

.gallery-nav__item:hover::before,
.gallery-nav__item--current::before {
  background: var(--link-text-hover);
}

.switch {
  grid-area: 7 / 1 / 8 / 7;
  padding: 2em 0;
  text-align: center;
}

.switch__item {
  border: 0;
  padding: 0.5em 1em;
  margin: 0 0.25em;
  background: none;
  color: var(--link-text);
}

.switch__item:hover,
.switch__item:focus,
.switch__item--current {
  color: var(--body-bg);
  outline: none;
  background: var(--body-text);
}

@media screen and (max-width: 60em) {
  .demo-gallery .pater {
    color: #fff !important;
  }
}

.disabled {
  visibility: hidden;
}
.content1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
  min-height: 500px;
  padding-top: 5vh;
  overflow: hidden;
  font-family: var(--content-font);
  --pieces-height: calc(95vh - (95vh / 7) - 5em);
}
.content1 .pieces {
  height: var(--pieces-height);
  width: calc(var(--pieces-height) * 0.667);
  position: absolute;
  left: 50%;
  margin-left: calc((-1 * var(--pieces-height) * 0.667) / 2);
}
.piece {
  background-size::auto !important;
  backgr
}
/*

.demo-gallery {
  --body-text: #000;
  --body-text-alt: #354dca;
  --body-bg: #f5f1ed;
  --link-text: #c8bbac;
  --link-text-hover: #000;
  --highlight-text: #354dca;
  --content-font: "Helvetica Neue", Arial, sans-serif;
}

/* Content */

#section2 .content {
  position: relative;
  height: 100vh;
  --pieces-height: 95vh;
}

#section2 .gallery {
  height: 80vh;
}

#section2 .gallery__item {
  opacity: 0;
  width: 80%;
  height: 30px;
}

#section2 .gallery__item--current {
  opacity: 1;
  z-index: 100;
}

#section2 .content .pieces {
  height: 500px;
  width: 500px;
  top: 20vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#section2 .piece {
  pointer-events: none;
}

#section2 .menu {
  z-index: 10;
  grid-area: 2 / 2 / 3 / 4;
}
#section2 .description {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: larger;
  width: 80vw;
}
#section2 .gallery-nav {
  grid-area: 6 / 1 / 7 / 7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0 0;

  top: 90%;
  top: 90;
  left: 50%;
}

#section2 .gallery-nav__item {
  width: 40px;
  height: 20px;
  display: block;
  margin: 10px;
  cursor: pointer;
  position: relative;
  z-index: 9999999999;
}

#section2 .gallery-nav__item ::before,
#section2 .gallery-nav__item ::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  margin: -3px;
  top: 50%;
  left: 0;
  opacity: 0.5;
  background: var(--link-text);
  pointer-events: none;
}

#section2 .gallery-nav__item ::after {
  opacity: 0;
  transform: rotate(-60deg);
  background: var(--body-text-alt);
}

#section2 .gallery-nav__item--current ::before,
#section2 .gallery-nav__item--current ::after {
  opacity: 1;
}

#section2 .gallery-nav__item :hover::before,
#section2 .gallery-nav__item--current ::before {
  background: var(--link-text-hover);
}

@media screen and (max-width: 60em) {
  #section2 .demo-gallery .pater {
    color: #fff !important;
  }
}

@media screen and (max-width: 40em) {
  #section2 .content {
    margin-bottom: 0em;
    height: auto;
    min-height: 0;
    grid-template-columns: 100%;
    grid-template-rows: var(--pieces-height) auto auto;
    --pieces-height: 300px;
  }
  #section2 .deco-letter {
    display: none;
  }
  #section2 .gallery {
    height: 60vh;
  }
  #section2 .content .pieces {
    height: 270px;
    width: 270px;
    top: 20vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  #section2 .description {
    text-align: center;
    position: relative;
    top: 0vh;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.menu-container {
  height: 100vh;
  overflow-y: scroll;
  width: 100px;
  position: fixed;
  right: 10%;
  z-index: 99999999;

  top: 46%;
  right: 2%;
}
.menu-container div {
  width: 100%;
}
.arrow {
  border-color: transparent;
  border-style: solid;
  border-width: 0 8em;
  display: block;
  height: 0;
  margin: 10em auto;
  opacity: 0.4;
  text-indent: -9999px;
  transform-origin: 50% 50%;
  width: 0;
}
.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom: 4em solid #00b6f1;
}
.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top: 4em solid #00b6f1;
}

.menu-container div ul {
  position: relative;
  top: 50%;
  padding: 0;
  margin: 0;
}
.menu-container div ul li {
  padding: 1em 0;
  width: 100%;
  text-align: center;
  display: block;
  color: #ece6c2;
}
.menu-container div ul li.active,
.menu-container div ul li:hover {
  width: 100%;
  padding: 1em 0;
  text-align: center;
  display: block;
  background: #ece6c4;
  transition: all 0.2s ease-in;
}
.menu-container div ul li.active a,
.menu-container div ul li:hover a {
  color: #d96f57;
}
.menu-container div ul li a {
  color: #ece6c2;
  text-decoration: none;
  font-family: Arial;
}
.menu-container div ul span {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
}
.menu-container div ul span.month {
  font-size: 15px;
}
.menu-container div ul span.year {
  font-size: 12px;
}
